.item {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  width: 300px;
  height: 80px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  border-radius: 5px;
}

.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 10px;
}

.is-green {
  background-color: green;
}

.is-red {
  background-color: red;
}

.avatar {
  margin-left: 10px;
}

.name {
  margin-left: 10px;
}
