.container {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 30px;
  font-size: 40px;
  color: #010101;
  background-color: #ececec;
}
